<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            margin: auto;
            width: 50%;
            padding: 30px;
            background: beige;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to home page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque veniam dicta reprehenderit iusto quae libero incidunt error assumenda, soluta aliquid ullam mollitia eius maxime voluptatibus eum laudantium fugit autem corrupti!
        </p>
    </div>
</body>
</html>